@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap");

body {
  background-image: url("https://i.pinimg.com/originals/1c/a6/e1/1ca6e1c35e2d884230242cc0326dbf28.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  font-family: "Hammersmith One", sans-serif;
}

/*
  Card style
*/
.pokemon-card {
  position: relative;
  width: 100%;
  min-height: 260px;
  margin: 0 0 30px 0;
  padding: 30px 0 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  background-color: #fff;
  text-transform: capitalize;
}
.pokemon-card:hover {
  transform: scale(0.99);
  text-decoration: none;
}
.pokemon-card__image-wrapper {
  position: relative;
  width: auto;
  height: auto;
}
.pokemon-card__image-wrapper img {
  width: 120px;
  align-self: center;
  justify-content: center;
}
.pokemon-card__name {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(248, 213, 97, 0.6);
  backdrop-filter: blur(20px) saturate(180%);
}
.pokemon-card__name h3 {
  color: #678deb;
  text-align: center;
}

/*
  Text style
*/
.main-title {
  color: #f8d561;
  font-size: 64px;
  padding: 80px 0 50px;
  text-align: center;
  font-family: "Baloo Bhai", cursive;
}

/*
  Button style
*/
.load-more {
  display: block;
  margin: 30px auto 120px;

  outline: none;
  border: none;

  padding: 10px 80px;
  background-color: #f8d561;

  color: #678deb;
  font-size: 20px;

  letter-spacing: 2px;

  border-radius: 5px;
}
.load-more:hover,
.load-more:focus {
  outline: none;
  transition: transform 0.2s all ease-in-out;
  transform: scale(0.99);
}


/*
  Loading modal
*/
.loading-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.loading-modal img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.loading-modal p {
  color: #fff;
  line-height: 42px;
}